<!DOCTYPE html>
<html>
<head>
  <title>PartnerWidget</title>
  <%= stylesheet_link_tag    "partner_widget/application", media: "all" %>
  <%= javascript_include_tag "partner_widget/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
